{% extends "base.html" %}

{% block title %}Тег #{{ term.name }} - {{ config.title }}{% endblock title %}

{% block content %}
<header>
  <p><a href="/tags/">..</a>/tags/{{ term.name }}</p>
  <h2>// Тег: #{{ term.name }}</h2>
</header>
<main>
  {% for page in term.pages %}
  <article onclick="redirect('{{ page.path | safe }}')">
    <h3>{{ page.title }}</h3>
    <time>{{ page.date | date(format="%d.%m.%Y") }}</time>
    <p>{{ page.description }}</p>
    <div class="chips">
      {% if page.taxonomies.tags and page.taxonomies.tags | length > 0 %}
        {% for tag in page.taxonomies.tags %}
          <span class="tag">{{ tag }}</span>
        {% endfor %}
      {% endif %}
    </div>
  </article>
  {% if not loop.last %}
  <hr />
  {% endif %}
  {% endfor %}
</main>
{% endblock content %}
